/* You can add global styles to this file, and also import other style files */
body {
    color: #ffffff !important;
}

.bg-primary-col {
    background-color: #343a40;
    box-shadow: 2px 2px 2px 2px #343a40;
    border-radius: 5px;
}

.container-center {
    max-width: 600px;
    margin: 10% auto 0;
    padding: 20px;
}

.pointer {
    cursor: pointer;
}
